:root {
    --white: #fff;
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --light-red:rgb(235, 129, 129);
    --dark-red:rgb(117, 0, 0);
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: grey;
}

img {
    margin: 0 auto;
    height: 100px;
    width: 500px;
}

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Adjust height as needed */
    gap: 30px;
}