:root {
    --white: #fff;
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --light-red:rgb(235, 129, 129);
    --dark-red:rgb(117, 0, 0);
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: grey;
}

img {
    margin: 10px 100px; 
    width: 300px;
    height: auto;
   
}

.container {
    width: 400px;
    height:400px;
    margin-bottom: 150px;
    margin-top: 100px;
    background-color: #0a0a23;
    gap:30px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Adjust height as needed */
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.screen {
    height: 300px;
    width: 300px;
    background-color: #f5f6f7;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}