:root {
    --white: #fff;
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --light-red:rgb(235, 129, 129);
    --dark-red:rgb(117, 0, 0);
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: grey;
}

img {
    margin: 10px 100px; 
    width: 300px;
    height: auto;
   
}

.container {
    width: 300px;
    height:550px;
    margin-bottom: 150px;
    margin-top: 100px;
    background-color:rgb(0, 0, 0);
    gap:30px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    border-radius: 10px;
    
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.screen {
    height: 400px;
    width: 250px;
    gap: 10px;
    background-color: #f5f6f7;
    display: grid;
    justify-content: center; /* Centers items horizontally */
    align-items: start; /* Aligns items to the top */
    flex-direction: column;;
    border-radius: 5px;
}

.buttons {
    height:50px;
    width:250px;
    display: flex;
    flex-direction: row;
    align-items: center; /*nothing new but I need to commit some thing*/
    justify-content:space-between;
    gap: 10px;
}

.dot {
    margin-top: 15px;
    height:10px;
    width: 10px;
    background-color: white;
    border-radius: 5px;
}

button {
    font-size: medium ;
    margin: auto 0;
    height: 40px;
    width: 80px;
}